# Maven Ignores
/target
pom.xml

# Binary Ignores
*.jar
*.class

# Lein Ignores
/checkouts
.lein-deps-sum
.lein-failures
.lein-plugins

# Eclipse Ignores
/bin
/classes
/lib
.project
.classpath
.settings

